<div class="container js-musicsIndex">

    <% @musics.each do |music| %>
 
           <button v-on:click="setMusicInfo(<%= music.id %>)">曲の詳細</button>
            <%= music.title %>

    <% end %>
 
   <div class="row" v-show="musicInfoBool">

             タイトル：{{ musicInfo.title }}

             アーティスト{{ musicInfo.author }}

             ジャンル：{{ musicInfo.genre }}

   </div>
 </div>
 <%= javascript_pack_tag 'music' %>